@import "tailwindcss";

@font-face {
  font-family: 'Helvetica-Regular';
  src: url('./assets/fonts/Helveltica/Helvetica.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* "font-['Helvetica-Regular']" */

@font-face {
  font-family: 'Helvetica-Bold';
  src: url('./assets/fonts/Helveltica/Helvetica-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* "font-['Helvetica-Bold']" */

@font-face {
  font-family: 'Helvetica-Light';
  src: url('./assets/fonts/Helveltica/helvetica-light-587ebe5a59211.ttf') format('truetype');
  font-weight: 300; 
  font-style: normal;
}

/* "font-['Helvetica-Light']" */

@font-face {
  font-family: 'UNCAGE-Regular';
  src: url('./assets/fonts/Uncage/UNCAGE-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* "font-['UNCAGE-Regular']" */

@font-face {
  font-family: 'UNCAGE-Medium';
  src: url('./assets/fonts/Uncage/UNCAGE-Medium.ttf') format('truetype');
  font-weight: 500; 
  font-style: normal;
}

/* "font-['UNCAGE-Medium']" */

@font-face {
  font-family: 'UNCAGE-Bold';
  src: url('./assets/fonts/Uncage/UNCAGE-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* "font-['UNCAGE-Bold']" */

@layer base {
  body {
    @apply font-['Helvetica-Regular'];
  }
}

@theme {
  --color-header: #FFFFFF;
  --color-lines: #D9D9D9;
  --color-action-primary: #DEFF35;
  --color-action-hover: #C4E51B;
  --color-primary: #000000;
  --color-secondary: #D9D9D9;
  --color-secondary-background: #F8F8FF;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #4d4d4d;
  animation:
    l20-1 0.8s infinite linear alternate,
    l20-2 1.6s infinite linear;
}
@keyframes l20-1{
   0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
   12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
   25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
   50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
   100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
}
@keyframes l20-2{ 
  0%    {transform:scaleY(1)  rotate(0deg)}
  49.99%{transform:scaleY(1)  rotate(135deg)}
  50%   {transform:scaleY(-1) rotate(0deg)}
  100%  {transform:scaleY(-1) rotate(-135deg)}
}